.productCard  {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #7710f1;
    padding: 10px 5px;
    
.productCard-image{

        // height: 100px;
        width: 100%;
    }
.productCard-description , .productCard-title{
        color:white
    }
}

